 <header>
  <div class="heading">
    <h1 class="title">こどもっと</h1>
  </div>
  </header> 
 

<main>
  <div class="main">
    <ul class="contents">
      <li class="animationTarget" id="animation">
          <%# <img src="img/img8.jpg" alt=""> %>
        <%= image_tag("img8.jpg")%>  
        <div class="contentsText">
          <h2>素敵な時間を・・・</h2>
          <p>
            子どもは面白い。大人になると忘れてしまっている感性、個性があります。<br>
            そんな子どもと一緒に過ごすことで貴方も素敵な時間を過ごすことができます。
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <%# <img src="img/img7.jpg" alt=""> %>
        <%= image_tag("img7.jpg")%>
        <div class="contentsText">
          <h2>自然な笑顔</h2>
          <p>
            子どもの自然な笑顔。<br>子どもを笑顔にさせ、守ることは
            大人の大事な役割です。
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <%# <img src="img/img9.jpg" alt=""> %>
        <%= image_tag("img9.jpg")%> 
        <div class="contentsText">
          <h2>気軽に働ける環境を</h2>
          <p>
            「go-to-hoiku」では隙間時間に子どもと関われる仕事を提供しています。<br>
            たとえ１〜２時間だけ働いてくれるだけでも助かる施設は<br>多く存在するからです
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <%# <img src="img/img3.jpg" alt=""> %>
        <%= image_tag("img3.jpg")%>
        <div class="contentsText">
          <h2>たくさんの感謝を</h2>
          <p>
            子どもからの感謝。保護者からの感謝。<br>
            「ありがとう」をたくさんいただける環境はお金には変えられないものがあります。
          </p>
        </div>
      </li>
    </ul>
  </div>
</main>