@charset "utf-8";

body{
  font-family: serif;
  background-color: #ffffff;
  columns: #111111;
  /* height: 5000px; */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ヘッダー */

header {
  padding: 50px;
}
@keyframes titleAnimation{
  0%{
    letter-spacing: 3em;
    opacity: 0;
  }

}

header h1{
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 60px;
  white-space: nowrap;
  animation: titleAnimation 1.5s;
}


.main{
  max-width: 1000px; 
  width: 100%;
  margin: 0 auto; 
 }
 
 .contents li{
   position: relative;
 }
 
 .contents li.show h2,
 .contents li.show p,
 main .contents li.show img{
   transform: none;
   opacity: 1;
 }
 
 .top-contents li{
   position: relative;
 }
 
 
 .contents li:not(:first-of-type){
   margin-top: 400px;
 }
 
 .top-contents li:not(:first-of-type){
   margin-top: 400px;
 }
 
 .contents li:nth-of-type(odd) .contentsText{
   right: 0;
 }
 .top-contents li:nth-of-type(odd) .top-contents{
   right: 0;
 }
 
 .contents li:nth-of-type(even) .contentsText{
   align-items: flex-start;
 }
 
 .top-contents li:nth-of-type(even) .top-contents{
   align-items: flex-start;
 }
 
 .contents li:nth-of-type(odd) img {
   /* margin-left: auto; */
   transform: translate(-20px, 20px);
 }
 .contents li:nth-of-type(even) img {
   margin-left: auto;
   transform: translate(20px, 20px);
 }
 
 .top-contents li:nth-of-type(even) img {
   margin-left: auto;
 }
 
 .contentsText{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   position: absolute;
   top: 40px;
 }
 
 .top-contentsText{
   display: block;
   text-align: center;
   flex-direction: column; 
   align-items: center;
   position: absolute;
   top: 50px; 
 }
 
 .contents h2{
   font-size: 50px;
   font-weight: bold;
   white-space: nowrap;
   background-color: rgba(20, 20, 20, .8);
   color: #fff;
   padding: 10px 20px;
   line-height: 1.4;
   letter-spacing: .05em;
   border-radius:  5px;
   opacity: 0;
   transform: translateY(20px);
   transition: 1s;
 }
 
 .top-contents h2{
   font-size: 50px;
   font-weight: bold;
   white-space: nowrap;
   background-color: rgba(20, 20, 20, .8);
   color: #fff;
   padding: 10px 20px;
   line-height: 1.4;
   letter-spacing: .05em;
   border-radius:  5px;
 }
 
 .contents img{
   display: block;
   border-radius: 5px;
   opacity: 0;
   transform: translateX(-20px);
   transition: 1s;
 }
 
 .contents p{
   line-height: 1.6;
   background-color: #555;
   font-size: 14px;
   max-width: 340px;
   padding: 15px;
   margin-top: 30px;
   border-radius: 5px;
   opacity: 0;
   transform: translateY(20px);
   transition: 1s;
 }
 
 .photo{
   box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.25);
 }
 
 img.general{
   width: 25%;
   height: 25%;
 }
 
 img.enterprise{
   width: 25%;
   height: 25%;
 }






/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

